<!DOCTYPE html>
<html>
<head>
  <title>thenewwebsite</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <% include templates/header.ejs%>
  <p><%= name %></p>
  <p><%= points %></p> //this variable is declared in app.js under app.locals.point
  <h3><%= videodata.categoryNme %></h3>
  <ul>
    <% videodata.categories.forEach(function(item); %>
        <li><%= item.categoryName %></li>
    <% }); %>
  </ul>
  <ul>
    <% for(var i=0; i<5; i++){ %>
        <li>Tuna</li>
    <% } %>  
  </ul>
 </body>
 </html>
 /*run
 tuna
 tuna
 tuna
 tuna
 tuna
 */
